## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
#  Import and read the charity_data.csv.
url = "https://raw.githubusercontent.com/dmtiblin/UR--Deep-Learning-Assignment/main/Resources/charity_data.csv"
application_df = pd.read_csv(url)
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(['EIN','NAME'], axis = 1)
df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [4]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = ['T17','T29','T15','T25','T14','T2','T12','T13']
                                      
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [15]:
# Look at CLASSIFICATION value counts for binning
class_list = df['CLASSIFICATION'].value_counts()
class_list_df = pd.DataFrame(class_list)
class_list_df

       CLASSIFICATION
C1000           17326
C2000            6074
C1200            4837
C3000            1918
C2100            1883
...               ...
C4200               1
C2600               1
C1732               1
C2190               1
C1245               1

[71 rows x 1 columns]

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C2710        3
C1260        3
C0           3
C1246        2
C1256        2
C1234        2
C1267        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [24]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_keep = ['C1000','C2000', 'C1200', 'C3000', 'C2100', 'C7000']
classifications_to_replace = []
for index, row in class_list_df.iterrows():
  if index not in classifications_to_keep:
      classifications_to_replace.append(index)

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
   
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [30]:
df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [28]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_df = pd.get_dummies(df)
encoded_df.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0
3       1     6692  ...                         1                         0
4       1   142590  ...                         1                         0

[5 rows x 46 columns]

In [31]:
# Split our preprocessed data into our features and target arrays
X = encoded_df.drop('IS_SUCCESSFUL', axis =1)
y = encoded_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE

# Second hidden layer
#  YOUR CODE GOES HERE

# Output layer
#  YOUR CODE GOES HERE

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From Z:\Travis\anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                3520
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE

WARNING:tensorflow:From Z:\Travis\anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [ ]:
# Train the model
#  YOUR CODE GOES HERE

Epoch 1/100
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5700 - acc: 0.7234
Epoch 2/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5556 - acc: 0.7294
Epoch 3/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5529 - acc: 0.7304
Epoch 4/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5514 - acc: 0.7318
Epoch 5/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5495 - acc: 0.7322
Epoch 6/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5488 - acc: 0.7330
Epoch 7/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5482 - acc: 0.7335
Epoch 8/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5475 - acc: 0.7326
Epoch 9/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5468 - acc: 0.73491s - lo
Epoch 10/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5465 - acc: 0.7350
Epoch 11/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5459 - acc: 0.7345
Epoch 12/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5456 - acc: 0.7362
Epoch 13/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5458 - acc: 0.7339
Epoch 14/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5450 - acc: 0.7361
Epoch 15/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5447 - acc: 0.7353
Epoch 16/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5444 - acc: 0.7356
Epoch 17/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5440 - acc: 0.7358
Epoch 18/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5442 - acc: 0.7367
Epoch 19/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5436 - acc: 0.7360
Epoch 20/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5435 - acc: 0.7365
Epoch 21/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5426 - acc: 0.7377
Epoch 22/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5429 - acc: 0.7367
Epoch 23/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5428 - acc: 0.7382
Epoch 24/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5425 - acc: 0.7376
Epoch 25/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5421 - acc: 0.7379
Epoch 26/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5419 - acc: 0.7382
Epoch 27/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5415 - acc: 0.7384
Epoch 28/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5418 - acc: 0.7381
Epoch 29/100
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5415 - acc: 0.7381
Epoch 30/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5410 - acc: 0.7382
Epoch 31/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5414 - acc: 0.7381
Epoch 32/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5407 - acc: 0.7388
Epoch 33/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5412 - acc: 0.7374
Epoch 34/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5405 - acc: 0.7383
Epoch 35/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5405 - acc: 0.7388
Epoch 36/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5405 - acc: 0.7384
Epoch 37/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5403 - acc: 0.7379
Epoch 38/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5401 - acc: 0.7392
Epoch 39/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5405 - acc: 0.7387
Epoch 40/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5399 - acc: 0.7390
Epoch 41/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5395 - acc: 0.7394
Epoch 42/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5399 - acc: 0.7391
Epoch 43/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5396 - acc: 0.7389
Epoch 44/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5398 - acc: 0.7397
Epoch 45/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5395 - acc: 0.7400
Epoch 46/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5389 - acc: 0.7391
Epoch 47/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5391 - acc: 0.7393
Epoch 48/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5390 - acc: 0.7383
Epoch 49/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5391 - acc: 0.7390
Epoch 50/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5387 - acc: 0.7402
Epoch 51/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5388 - acc: 0.7393
Epoch 52/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5389 - acc: 0.7393
Epoch 53/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5387 - acc: 0.7394
Epoch 54/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5385 - acc: 0.7395
Epoch 55/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5381 - acc: 0.7394
Epoch 56/100
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5384 - acc: 0.7396
Epoch 57/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5384 - acc: 0.7392
Epoch 58/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5382 - acc: 0.7398
Epoch 59/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5382 - acc: 0.7390
Epoch 60/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5383 - acc: 0.7395
Epoch 61/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5380 - acc: 0.7393
Epoch 62/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5386 - acc: 0.7395
Epoch 63/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5379 - acc: 0.7397
Epoch 64/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5383 - acc: 0.7414
Epoch 65/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5376 - acc: 0.74031s
Epoch 66/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5378 - acc: 0.7407
Epoch 67/100
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5378 - acc: 0.7402
Epoch 68/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5374 - acc: 0.7403
Epoch 69/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5376 - acc: 0.7400
Epoch 70/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5377 - acc: 0.7404
Epoch 71/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5377 - acc: 0.7402
Epoch 72/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5374 - acc: 0.7403
Epoch 73/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5375 - acc: 0.7400
Epoch 74/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5373 - acc: 0.7407
Epoch 75/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5371 - acc: 0.7402
Epoch 76/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5372 - acc: 0.7404
Epoch 77/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5372 - acc: 0.7399
Epoch 78/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5378 - acc: 0.7409
Epoch 79/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5370 - acc: 0.7410
Epoch 80/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5371 - acc: 0.7402
Epoch 81/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5368 - acc: 0.7414
Epoch 82/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5366 - acc: 0.7413
Epoch 83/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5368 - acc: 0.7405
Epoch 84/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5367 - acc: 0.7407
Epoch 85/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5368 - acc: 0.7404
Epoch 86/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5365 - acc: 0.7408
Epoch 87/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5371 - acc: 0.7407
Epoch 88/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5367 - acc: 0.7410
Epoch 89/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5366 - acc: 0.7409
Epoch 90/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5365 - acc: 0.7409
Epoch 91/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5360 - acc: 0.7414
Epoch 92/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5370 - acc: 0.7406
Epoch 93/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5365 - acc: 0.7411
Epoch 94/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5366 - acc: 0.7409
Epoch 95/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5362 - acc: 0.7411
Epoch 96/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5361 - acc: 0.7404
Epoch 97/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5361 - acc: 0.74130s - loss: 0.5380 -
Epoch 98/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5365 - acc: 0.7407
Epoch 99/100
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5360 - acc: 0.7396
Epoch 100/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5360 - acc: 0.7416

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE